configuration {
    modes: "window,run,ssh,drun,combi,filebrowser";
    sorting-method: "normal";
    show-icons:true;
    icon-theme: "Tela-circle-dracula";
    matching: "regex";
    // drun-match-fields: "name";
    display-run: "Run:";
    display-ssh: "SSH:";
    display-drun: " ";
    display-window: " ";
    display-filebrowser: " ";
    display-clipboard: " ";
    display-calc: " ";
    terminal: "/usr/bin/kitty";
}

@theme "breeze"
