@import "carbonfox.css";
@import "macchiato.css";

* {
  font-family: "JetBrainsMono NFP ExtraBold", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty .modules-center {
  background-color: transparent;
  background: none; /* Tímto způsobem zrušíte efekt v této třídě */
  background-image: none;
  background-clip: unset;
  background-origin: unset;
  border: unset;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  /* background-color: @surface2; */
  /* border-radius: 10px; */
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
  background: rgba(0, 0, 0, 0.4);
}

#custom-updates:hover {
  /* background-color: @surface2; */
  /* border-radius: 10px; */
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
  background: rgba(0, 0, 0, 0.4);
}

#custom-notification:hover {
  /* background-color: @surface2; */
  /* border-radius: 10px; */
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
  background: rgba(0, 0, 0, 0.4);
}

#bluetooth:hover {
  /* background-color: @surface2; */
  /* border-radius: 10px; */
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
  background: rgba(0, 0, 0, 0.4);
}

#clock:hover {
  /* background-color: @surface2; */
  /* border-radius: 10px; */
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
  background: rgba(0, 0, 0, 0.4);
}

#network:hover {
  /* background-color: @surface2; */
  /* border-radius: 10px; */
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
  background: rgba(0, 0, 0, 0.4);
}


#workspaces button {
  padding: 0 6px;
  background-color: transparent;
  color: @fg;
  transition: all 0.3s ease;
}

#workspaces button.empty {
    color: #30333C;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

#workspaces button.active {
    color: #86ABDC;
    text-shadow: 0px 0px 6px @bcyan;
}

#workspaces button.focused {
  background-color: @lavender;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#custom-gpu-temp,
#custom-notification,
#custom-updates,
#privacy,
#pulseaudio {
  padding: 0 10px;
  transition: all 0.3s ease;
}


#custom-logo {
  padding: 0 10px;
  color: @bblue;
}

#pulseaudio {
  color: @bblue;
}

#network {
  color: @byellow;
}

#temperature {
  color: @maroon;
}

#clock {
  color: @bcyan;
}

#window {
  color: @bcyan;
}

#custom-gpu-temp {
  color: @index16;
}

#custom-notification {
  color: @bcyan;
}

#cpu {
  color: @magenta;
}

#memory {
  color: @maroon;
}

#bluetooth {
  color: @bblue;
}

.modules-right,
.modules-left,
.modules-center {
  background: transparent;
  border-radius: 15px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 10px;
}

.modules-center {
  padding: 0 10px;
}

.modules-right {
  /* background: transparent; */
  /* padding: 0.5rem 1rem; */
   background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,1)),
    linear-gradient(150deg, rgba(102, 204, 255, 1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(102, 204, 255, 1) 100%);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
}

.modules-left,
.modules-center {
  /* background: transparent; */
  /* padding: 0.5rem 1rem; */
   background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,1)),
    linear-gradient(150deg, rgba(102, 204, 255, 1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(102, 204, 255, 1) 100%);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}
